<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue sur la page contact !</h1>
  </div>
</div>

<p class="text-center">Pour contacter un membre de notre équipe</p>
<p class="text-center">Numéro de téléphone : 01.03.04.05.06</p>
<p class="text-center">Mail : contact@contact.com</p>
<p class="text-center">N'hésitez pas !</p>
