
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Présentation de notre équipe</h1>
    <p class="lead">Nous sommes vraiment la meilleure équipe de dévellopeurs pour vos projets !</p>
  </div>
</div>
<img src="https://aws.vdkimg.com/film/1/3/8/0/138072_backdrop_scale_1280xauto.jpg" class="rounded mx-auto d-block" alt="Responsive image">