
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue sur notre site TheGossipProject</h1>
  </div>
</div>

<p class="lead text-center">BIENVENUE <%= @user.capitalize %> ! Ici c'est notre super site de potins, il est chouette, non ?</p>