<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Vous sur la page de la ville <%= City.find_by(id: @id).name %> </h1>
  </div>
</div>

<div class="card text-center">

  <p><strong>Les informations sur la ville : </strong></p>
  <div>
      <ul>
        <li>
          <p>Nom : <%= City.find_by(id: @id).name %></p>
        </li>
        <li>
          <p>Code postal : <%= City.find_by(id: @id).zip_code %></p>
        </li>
      </ul>
    </div>
</div>
